@tailwind base;
@tailwind components;
@tailwind utilities;


/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  font-weight: unset;
  font-synthesis: none;
  background-color: #ECECEC
}


* {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--primary);
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none !important;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 2px;
  padding: 2rem;
  margin: 2rem;
}

*::-webkit-scrollbar-track {
  background: var(--primary);
  border-radius: 5px;

}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 14px;
  border: 3px solid var(--primary);
}


html {
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body,
html {
  min-height: 100%;
  line-height: 1.5;
  background-color: #ECECEC;
  color: #030303;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* ol {
  counter-reset: item;
  padding-left: 10px;
}

li {
  display: block;
}

li:before {
  font-weight: bold;
  content: counters(item, ".") " ";
  counter-increment: item
} */

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


@layer base {
  @font-face {
    font-family: 'zodiak';
    src: url('/fonts/zodiak/zodiak.woff2');
    font-style: normal;
  }

  @font-face {
    font-family: 'zodiak';
    src: url('/fonts/zodiak/zodiak-italic.woff2');
    font-style: italic;
  }

  @font-face {
    font-family: 'bdo';
    src: url('/fonts/bdo/bdo.woff2');
    font-style: normal;
  }


  @layer utilities{
    .ph{
      @apply px-8 sm:px-28;
    }

    .mh{
      @apply mx-8 sm:mx-28;
    }
    .-mh{
      @apply -mx-8 sm:-mx-28;
    }
  }

}